body {
  font-family: 'Oswald', sans-serif;
  margin: 0;
}

::-moz-selection {
  background: #ef233c;
  color: #ffffff;
}

::selection {
  background: #ef233c;
  color: #ffffff;
}

#landing {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr;
      grid-template: 1fr / 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 100vh;
}

h1 {
  margin: 0;
  font-size: 18em;
}

h2 {
  margin: 0;
}

#text {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
  position: relative;
}

#blood1 {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
}

#hannibal,
#joker,
#norman,
#anton,
#pennywise {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[10];
  -ms-grid-columns: (1fr)[10];
      grid-template: repeat(10, 1fr)/repeat(10, 1fr);
  height: 100vh;
}

#hannibal-box {
  -ms-grid-row: 2;
  -ms-grid-row-span: 8;
  grid-row: 2 / 10;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2 / 5;
  background-image: url("img/hannibal.jpg");
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
}

#hannibal-image,
#joker-image,
#norman-image,
#anton-image,
#pennywise-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#hannibal-details {
  -ms-grid-row: 2;
  -ms-grid-row-span: 8;
  grid-row: 2 / 10;
  -ms-grid-column: 6;
  -ms-grid-column-span: 4;
  grid-column: 6 / 10;
  font-size: 8em;
  color: #621708;
}

#grey {
  color: #272932;
}

#blood2 {
  -ms-grid-row: 6;
  -ms-grid-row-span: 4;
  grid-row: 6 / 10;
  -ms-grid-column: 3;
  -ms-grid-column-span: 7;
  grid-column: 3 / 10;
}

#joker-box {
  -ms-grid-row: 2;
  -ms-grid-row-span: 8;
  grid-row: 2 / 10;
  -ms-grid-column: 7;
  -ms-grid-column-span: 3;
  grid-column: 7 / 10;
  background-image: url("img/joker.png");
  background-size: cover;
  background-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}

#joker-details {
  -ms-grid-row: 2;
  -ms-grid-row-span: 8;
  grid-row: 2 / 10;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2 / 5;
  font-size: 8em;
  color: #084605;
}

#purple {
  color: #270E42;
}

#blood3 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 6;
  grid-row: 4 / 10;
  -ms-grid-column: 2;
  -ms-grid-column-span: 6;
  grid-column: 2 / 8;
}

#norman-box {
  -ms-grid-row: 2;
  -ms-grid-row-span: 8;
  grid-row: 2 / 10;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2 / 5;
  background-image: url("img/norman.jpg");
  background-size: cover;
  background-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}

#norman-details {
  -ms-grid-row: 2;
  -ms-grid-row-span: 8;
  grid-row: 2 / 10;
  -ms-grid-column: 6;
  -ms-grid-column-span: 4;
  grid-column: 6 / 10;
  font-size: 8em;
  color: #EED554;
}

#bates {
  color: #13140C;
}

#blood4 {
  -ms-grid-row: 9;
  -ms-grid-row-span: 2;
  grid-row: 9 / 11;
  -ms-grid-column: 5;
  -ms-grid-column-span: 6;
  grid-column: 5 / 11;
  place-self: center;
}

#anton-box {
  -ms-grid-row: 4;
  -ms-grid-row-span: 5;
  grid-row: 4 / 9;
  -ms-grid-column: 2;
  -ms-grid-column-span: 8;
  grid-column: 2 / 10;
  background-image: url("img/anton.jpg");
  background-size: cover;
  background-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}

#anton-details {
  -ms-grid-row: 6;
  -ms-grid-row-span: 4;
  grid-row: 6 / 10;
  -ms-grid-column: 1;
  -ms-grid-column-span: 10;
  grid-column: 1 / 11;
  place-self: center;
  font-size: 8em;
  color: #21120B;
}

#chigurh {
  color: #CA7232;
}

#blood5 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 10;
  grid-row: 1 / 11;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1 / 6;
  place-self: center;
}

#pennywise-box {
  -ms-grid-row: 3;
  -ms-grid-row-span: 8;
  grid-row: 3 / 11;
  -ms-grid-column: 7;
  -ms-grid-column-span: 3;
  grid-column: 7 / 10;
  background-image: url("img/pennywise.jpg");
  background-size: cover;
  background-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}

#pennywise-details {
  -ms-grid-row: 4;
  -ms-grid-row-span: 6;
  grid-row: 4 / 10;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2 / 5;
  font-size: 8em;
  color: #7C1511;
}

#wise {
  color: #677373;
}

#blood6 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 8;
  grid-row: 3 / 11;
  -ms-grid-column: 3;
  -ms-grid-column-span: 7;
  grid-column: 3 / 10;
  place-self: center;
}

#hannibal-box,
#joker-box,
#norman-box,
#anton-box {
  -webkit-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 1560px) {
  h1 {
    font-size: 12em;
  }
  h2 {
    font-size: 1em;
  }
  #blood-size {
    width: 90%;
  }
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 8em;
  }
  h2 {
    font-size: 0.7em;
  }
  #blood-size {
    width: 90%;
  }
}
/*# sourceMappingURL=style.css.map */